#root {
	height: 100vh;
}

body {
	height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Arial', sans-serif;
  overflow: hidden;
}

.un-list {
	display: flex;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.main {
	height: 100%;
	background: linear-gradient(to right, white 0%, white 62%, rgba(248, 177, 71, 0.7) 62%, rgba(248, 177, 71, 0.7) 100%);
}